@import "tailwindcss";
@theme {
  --color-brand: #ffbd48;
  --color-dark-10: #2e2e2e;
  --color-dark-20: #fefbf4;
  --color-dark-30: #ffffff;
  --color-border: #FFF5DE;
  --font-inter: "Inter", "sans-serif";
}
.bg-header {
  background-image: url('./images/bg-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-home {
  background-image: url('./images/bg.png');
  background-size: cover;
  background-position: center;
}